Fuentes de información/cliente soap/cliente_soap_dotNET/App_WebReferences/camara_diputado/WSDiputado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://opendata.camara.cl/camaradiputados/v1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://opendata.camara.cl/camaradiputados/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://opendata.camara.cl/camaradiputados/v1">
      <s:element name="retornarDiputados">
        <s:complexType />
      </s:element>
      <s:element name="retornarDiputadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornarDiputadosResult" type="tns:DiputadosColeccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DiputadosColeccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Diputado" type="tns:Diputado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Diputado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaDefucion" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RUT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RUTDV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="tns:TipoSexo" />
          <s:element minOccurs="0" maxOccurs="1" name="Militancias" type="tns:MilitanciasColeccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoSexo">
        <s:simpleContent>
          <s:extension base="tns:Tipo" />
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="Tipo">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="Valor" type="s:int" use="required" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="MilitanciasColeccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Militancia" type="tns:Militancia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Militancia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaTermino" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Partido" type="tns:PartidoPolitico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PartidoPolitico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Alias" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="retornarDiputado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prmDiputadoId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornarDiputadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornarDiputadoResult" type="tns:Diputado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornarDiputadosXPeriodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prmPeriodoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornarDiputadosXPeriodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornarDiputadosXPeriodoResult" type="tns:DiputadosPeriodoColeccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DiputadosPeriodoColeccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DiputadoPeriodo" type="tns:DiputadoPeriodo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiputadoPeriodo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaTermino" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Diputado" type="tns:Diputado" />
          <s:element minOccurs="0" maxOccurs="1" name="Distrito" type="tns:Distrito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Distrito">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Comunas" type="tns:ComunasColeccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComunasColeccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Comuna" type="tns:Comuna" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Comuna">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="retornarDiputadosPeriodoActual">
        <s:complexType />
      </s:element>
      <s:element name="retornarDiputadosPeriodoActualResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornarDiputadosPeriodoActualResult" type="tns:DiputadosPeriodoColeccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DiputadosColeccion" nillable="true" type="tns:DiputadosColeccion" />
      <s:element name="Diputado" nillable="true" type="tns:Diputado" />
      <s:element name="DiputadosPeriodoColeccion" nillable="true" type="tns:DiputadosPeriodoColeccion" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="retornarDiputadosSoapIn">
    <wsdl:part name="parameters" element="tns:retornarDiputados" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosSoapOut">
    <wsdl:part name="parameters" element="tns:retornarDiputadosResponse" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadoSoapIn">
    <wsdl:part name="parameters" element="tns:retornarDiputado" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadoSoapOut">
    <wsdl:part name="parameters" element="tns:retornarDiputadoResponse" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosXPeriodoSoapIn">
    <wsdl:part name="parameters" element="tns:retornarDiputadosXPeriodo" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosXPeriodoSoapOut">
    <wsdl:part name="parameters" element="tns:retornarDiputadosXPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosPeriodoActualSoapIn">
    <wsdl:part name="parameters" element="tns:retornarDiputadosPeriodoActual" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosPeriodoActualSoapOut">
    <wsdl:part name="parameters" element="tns:retornarDiputadosPeriodoActualResponse" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosHttpGetIn" />
  <wsdl:message name="retornarDiputadosHttpGetOut">
    <wsdl:part name="Body" element="tns:DiputadosColeccion" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadoHttpGetIn">
    <wsdl:part name="prmDiputadoId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadoHttpGetOut">
    <wsdl:part name="Body" element="tns:Diputado" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosXPeriodoHttpGetIn">
    <wsdl:part name="prmPeriodoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosXPeriodoHttpGetOut">
    <wsdl:part name="Body" element="tns:DiputadosPeriodoColeccion" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosPeriodoActualHttpGetIn" />
  <wsdl:message name="retornarDiputadosPeriodoActualHttpGetOut">
    <wsdl:part name="Body" element="tns:DiputadosPeriodoColeccion" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosHttpPostIn" />
  <wsdl:message name="retornarDiputadosHttpPostOut">
    <wsdl:part name="Body" element="tns:DiputadosColeccion" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadoHttpPostIn">
    <wsdl:part name="prmDiputadoId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadoHttpPostOut">
    <wsdl:part name="Body" element="tns:Diputado" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosXPeriodoHttpPostIn">
    <wsdl:part name="prmPeriodoID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosXPeriodoHttpPostOut">
    <wsdl:part name="Body" element="tns:DiputadosPeriodoColeccion" />
  </wsdl:message>
  <wsdl:message name="retornarDiputadosPeriodoActualHttpPostIn" />
  <wsdl:message name="retornarDiputadosPeriodoActualHttpPostOut">
    <wsdl:part name="Body" element="tns:DiputadosPeriodoColeccion" />
  </wsdl:message>
  <wsdl:portType name="WSDiputadoSoap">
    <wsdl:operation name="retornarDiputados">
      <wsdl:input message="tns:retornarDiputadosSoapIn" />
      <wsdl:output message="tns:retornarDiputadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <wsdl:input message="tns:retornarDiputadoSoapIn" />
      <wsdl:output message="tns:retornarDiputadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <wsdl:input message="tns:retornarDiputadosXPeriodoSoapIn" />
      <wsdl:output message="tns:retornarDiputadosXPeriodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <wsdl:input message="tns:retornarDiputadosPeriodoActualSoapIn" />
      <wsdl:output message="tns:retornarDiputadosPeriodoActualSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSDiputadoHttpGet">
    <wsdl:operation name="retornarDiputados">
      <wsdl:input message="tns:retornarDiputadosHttpGetIn" />
      <wsdl:output message="tns:retornarDiputadosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <wsdl:input message="tns:retornarDiputadoHttpGetIn" />
      <wsdl:output message="tns:retornarDiputadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <wsdl:input message="tns:retornarDiputadosXPeriodoHttpGetIn" />
      <wsdl:output message="tns:retornarDiputadosXPeriodoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <wsdl:input message="tns:retornarDiputadosPeriodoActualHttpGetIn" />
      <wsdl:output message="tns:retornarDiputadosPeriodoActualHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSDiputadoHttpPost">
    <wsdl:operation name="retornarDiputados">
      <wsdl:input message="tns:retornarDiputadosHttpPostIn" />
      <wsdl:output message="tns:retornarDiputadosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <wsdl:input message="tns:retornarDiputadoHttpPostIn" />
      <wsdl:output message="tns:retornarDiputadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <wsdl:input message="tns:retornarDiputadosXPeriodoHttpPostIn" />
      <wsdl:output message="tns:retornarDiputadosXPeriodoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <wsdl:input message="tns:retornarDiputadosPeriodoActualHttpPostIn" />
      <wsdl:output message="tns:retornarDiputadosPeriodoActualHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDiputadoSoap" type="tns:WSDiputadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornarDiputados">
      <soap:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <soap:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <soap:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputadosXPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <soap:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputadosPeriodoActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDiputadoSoap12" type="tns:WSDiputadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornarDiputados">
      <soap12:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <soap12:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <soap12:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputadosXPeriodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <soap12:operation soapAction="http://opendata.camara.cl/camaradiputados/v1/retornarDiputadosPeriodoActual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDiputadoHttpGet" type="tns:WSDiputadoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="retornarDiputados">
      <http:operation location="/retornarDiputados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <http:operation location="/retornarDiputado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <http:operation location="/retornarDiputadosXPeriodo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <http:operation location="/retornarDiputadosPeriodoActual" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDiputadoHttpPost" type="tns:WSDiputadoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="retornarDiputados">
      <http:operation location="/retornarDiputados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputado">
      <http:operation location="/retornarDiputado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosXPeriodo">
      <http:operation location="/retornarDiputadosXPeriodo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDiputadosPeriodoActual">
      <http:operation location="/retornarDiputadosPeriodoActual" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDiputado">
    <wsdl:port name="WSDiputadoSoap" binding="tns:WSDiputadoSoap">
      <soap:address location="http://opendata.camara.cl/camaradiputados/WServices/WSDiputado.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDiputadoSoap12" binding="tns:WSDiputadoSoap12">
      <soap12:address location="http://opendata.camara.cl/camaradiputados/WServices/WSDiputado.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDiputadoHttpGet" binding="tns:WSDiputadoHttpGet">
      <http:address location="http://opendata.camara.cl/camaradiputados/WServices/WSDiputado.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDiputadoHttpPost" binding="tns:WSDiputadoHttpPost">
      <http:address location="http://opendata.camara.cl/camaradiputados/WServices/WSDiputado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>